
/* Adding a border to all the flexboxes to make visualization easier */
body,
.container1,
.header,
.links,
.under-header,
.left-under-header,
.container2,
.four-boxes,
.box,
.container3,
.container4,
.container5 {
    border:1px solid purple;
    display:flex;
}

body {
    flex-direction: column;
}

/* The first container and it's children start here */
.container1 {
    flex-direction: column;
    background-color:#1f2937;
    color:white;
    padding-left: 200px;
    padding-right: 200px;
    gap:100px;
    padding-bottom: 125px;
}

.header {
    justify-content: space-between;
}
h4 {
    font-size: 24px;
    font-family:roboto;
    color:#F9FAF8;
}
.links {
    align-self: center;
    gap:20px;
    font-size:20px;
    font-family:roboto;
}

.under-header {
    justify-content: center;
}
.left-under-header{
    flex-direction: column;
    flex:1;
}
.place-holder {
    display:flex;
    flex:1;
    align-items:center;
    justify-content: center;
    background-color: gray;
}
h2,p {
    margin:0px;
    font-family:roboto;
}
h2 {
    font-size:48px;
    font-weight: bolder;
    color: #F9FAF8;
    max-width: 375px;
}
p {
    max-width: 375px;
    margin-bottom: 10px;
}
.top-btn {
    background-color: #3882F6;
    color:white;
    width:100px;
    padding-top:6px;
    padding-bottom:6px;
    border-radius: 10px;
    border:none;
    font-family:roboto;

}

/* The second container and it's children */

.container2 {
    flex-direction: column;
    align-items:center;
    gap:30px;
    padding-top:50px;
    padding-bottom:100px;
}
.anoda-heada {
    font-size:36px;
    font-weight:bolder;
    font-family:roboto;
    color:#1f2937;
}
.four-boxes {
    gap:50px;
}
.box {
    flex-direction: column;
}
.square {
    height: 150px;
    width: 150px;
    background-color: transparent;
    border: 3px solid #3882F6;
    border-radius:10px;
}
.text{
    max-width: 150px;
    text-align: center;
    font-family:roboto;

}

/* The third container and it's children */
.container3{
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding:100px;
}
.quote {
    font-family:roboto;
    font-size:36px;
    font-style: italic;
    font-weight: 300;
    color:#1F2937;
    max-width: 790px;
}
.thor {
    font-family:roboto;
    font-weight: bolder;
    font-size:24px;
    margin-left:525px;
}

/* The fourth container and it's children */
.container4 {
    justify-content: center;
    align-items: center;
    padding:100px;
}
.blue-rectangle {
    display:flex;
    background-color: #3882F6;
    justify-content: space-between;
    padding:40px;
    padding-left:100px;
    padding-right:100px;
    width:800px;
    border-radius: 10px;
}
.action-time {
    display:flex;
    flex-direction: column;
}
.first-line {
    font-weight:bold;
    font-size:22px;
    color:white;
}
.second-line {
    color:white;
}
.bottom-btn {
    background-color: #3882F6;
    border:2px solid white;
    border-radius: 8px;
    color:white;
    height:30px;
    padding-right:25px;
    padding-left: 25px;
    font-weight: bold;
}

/* The fourth container and it's children */
